.AnnouncementWrapper {
    position: relative;
    z-index: 1100;
    width: 92%;
    color: whitesmoke;
    background-color: #8998ab;
    top: 5px;
    box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.24);
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    margin: auto;
}