.giftAnnouncement-text {
    display: inline-block;
}

.giftAnnouncement-button {
    display: inline-block;
}

.giftAnnouncement-button > button {
    color: white;
    background: #56a2fd;
    padding: 5px;
    border-radius: 5px;
    margin-left: 25px;
    box-shadow: 0px 0px 10px white;
    cursor: pointer;
}