.Gtooltip {
    position: relative;
    display: inline-block;
    border-bottom: dashed 1px #d3dadf;
}

.Gtooltip .Gtooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1001;
    left: 100px;
    top: -15px;
    opacity: 1;
}

.Gtooltip:hover .Gtooltiptext {
    visibility: visible;
}

@media only screen and (max-width: 780px) {
    .Gtooltip .Gtooltiptext {
        left: 0px;
        top: 25px;
    }

}