.error-wrapper-content {
    text-align: center;
    margin-top: 50px;
    /** background-color: rgba(100, 100, 100, 0.5); **/
    background-color: rgba(35, 31, 32, 0.7);
    color: #d3dadf;
    border-radius: 5px;
    min-height: 350px;
    padding: 15px;
    padding-top: 35px;
}

.ErrorWrapper {
    z-index: 800;
}
