.JoinPresale {
    text-align: center;
    color: #d3dadf;
    margin-bottom: 50px;
}

.JoinPresale-btn {
    margin-bottom: 25px;
}

.buttonShine {
    padding: 0.75em 2em;
    text-align: center;
    text-decoration: none;
    color: #56a2fd;
    border: 2px solid #56a2fd;
    font-size: 24px;
    display: inline-block;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    background-color: rgba(86, 162, 253, 0.5);
    color: #fff;
  }
  .buttonShine:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  .buttonShine:hover {
    background-color: #56a2fd;
    color: #fff;
    border-bottom: 4px solid #56a2fd;
  }
  .buttonShine:hover:before {
    transform: skewX(-45deg) translateX(23.5em);
    transition: all 0.5s ease-in-out;
  }



@keyframes sheen {
    0% {
      transform: skewY(-45deg) translateX(0);
    }
    100% {
      transform: skewY(-45deg) translateX(12.5em);
    }
  }