.PresaleDetails {
    margin-top: 50px;
    
    color: #d3dadf;
    background-color: rgba(35, 31, 32, 0.7);
    padding: 5px 25px 0px 25px;
    border-radius: 5px;
    line-height: 20pt;
   /** background-color: rgba(86, 162, 253, 0.1) **/
}

.presaledetails-header {
    text-align: center;
    margin-bottom: 25px;
    border-bottom: solid 1px rgb(86, 162, 253)
}

.presaledetails-content {
    margin-bottom: 50px;
}


.presaledetails-even {
    display: block;
    margin: 25px -25px 0px -25px;
    padding: 25px;
    background-color: rgb(86, 162, 253, 0.1);
}

.presaledetails-odd {
    display: block;
    text-align: right;
    margin: 25px -25px 0px -25px;
    background-color: rgba(212, 212, 212, 0.3);
    padding: 25px;
}

.image-container-even {
    text-align: right;
    height: 200px;
}

.image-container-odd {
    text-align: left;
    margin-top: 90px;
    margin-left: -35px;
    margin-bottom: -25px;
}

.image-container-odd > img {
    width: 500px;
    /** -webkit-filter: hue-rotate(100deg); **/
}

.header-factory {
    margin-top: 50px;

}

.content-factory {
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.hiddenBottom {
    display: none;
}

.hiddenTop {
    display: block;
}

@media only screen and (max-width: 991px) {
    .image-container-odd, .image-container-even {
        display: block;
        margin-top: 0px;
        height: 100px;
    }

    .image-container-odd > img {
        width: 200px;
        margin-left:25px;
    }

    .content-factory {
        padding-bottom: 50px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .hiddenBottom {
        display: block;
    }
    
    .hiddenTop {
        display: none;
    }
}