.PresaleForm {
    z-index: 800;
}

.presale-panel{
    margin-top: 100px;
    /** background-color: rgba(100, 100, 100, 0.5); **/
    background-color: rgba(35, 31, 32, 0.7);
    color: #d3dadf;
    border-radius: 5px;
    min-height: 450px;
}

.presale-image{
    margin-top: 170px;
    text-align: center;
    display: table;
    min-height: 450px;
    perspective: 1000px;
}
.presale-image > img {
    transform: rotateY(140deg);
    box-shadow: 1px 1px 15px 3px #56a2fd;
    transition-property: all;
    transition-property: transform, box-shadow;
    transition-duration: 1s;
    animation: enter 1s, hovering 2s infinite;
}

.presale-image-mini {
   display: none;
}

.presale-image > img:hover {
    transform: rotateY(180deg);
    box-shadow: 1px 1px 15px 10px #56a2fd;
    animation: none;
}

.presale-panel-form {
    padding: 15px;
    margin-top: 25px;
}

.presale-panel-header {
    padding: 5px 15px 0px 15px;
    border-bottom: solid 1px #56a2fd;

}

.PresaleForm-form {
    margin-top: 25px;
    margin-bottom: 50px;
}

.rangeslider-horizontal .rangeslider__fill {
    height: 100%;
    background-color: #56a2fd;
    border-radius: 10px;
    top: 0;
}

.rangeslider-horizontal .rangeslider__handle {
    width: 10px;
    height: 20px;
}

.loadingMessage {
    height: 70px;
}

.presale-panel-bottom {
    margin: 25px -15px 0px -15px;
    background-color: rgba(212, 212, 212, 0.3);
    padding: 15px;
    padding-bottom: 25px;
    border-radius: 0px 0px 2px 2px;
}

.toast-info {
    background-color: #56a2fd !important;
}

.rangeslider__handle {
    outline: none;
}

.PresaleForm-safetycheck {
    display: inline;
    margin-left: 15px;
    width: 100%;
}

.total {
    font-size: 16pt;
    margin-top: 75px;
    margin-bottom: -25px;
    text-align: right;
    
}

.total > span {
    border-bottom: 1px solid #56a2fd ;
}


@keyframes hovering {
    0% {
        margin-top: -3px;
    }


    50% {
        margin-top: 3px;
    
    }

    100% {
        margin-top: -3px;
    }
}


@media only screen and (max-width: 991px) {
    .presale-image{ 
        display: none;
    }

    .presale-image-mini {
        display: block;
        position: absolute;
        top: 17%;
        left: 55%;
        width: 40%;
    }
}

@media only screen and (max-width: 550px) { 
    .presale-image-mini {
        display: block;
        position: absolute;
        top: 28%;
        left: 50%;
        width: 50%;
    }

    .presale-image > img:hover {
        transform: rotateY(180deg);
        box-shadow: 1px 1px 15px 3px #56a2fd;
        animation: none;
    }

    .PresaleForm-safetycheck {
        display: block;
        margin-top: 15px;
        margin-left: 0px;
        
    }

    .presale-panel{
        margin-top: 0px;
        padding-top: 25px;
    }

    .total {
       padding-top: 15px;
    }

}
