.PresaleForm {
    z-index: 800;
}

.presale-panel{
    margin-top: 100px;
    /** background-color: rgba(100, 100, 100, 0.5); **/
    background-color: rgba(35, 31, 32, 0.7);
    color: #d3dadf;
    border-radius: 5px;
    min-height: 450px;
}

.presale-panel-form {
    padding: 15px;
    margin-top: 25px;
}

.presale-panel-header {
    padding: 0px 15px 0px 15px;
    border-bottom: solid 1px #56a2fd;

}

.PresaleForm-form {
    margin-top: 25px;
    margin-bottom: 10px;
}

.rangeslider-horizontal .rangeslider__fill {
    height: 100%;
    background-color: #56a2fd;
    border-radius: 10px;
    top: 0;
}

.rangeslider-horizontal .rangeslider__handle {
    width: 10px;
    height: 20px;
}

.loadingMessage {
    height: 70px;
}

.presale-panel-bottom {
    margin: 25px -15px 0px -15px;
    background-color: rgba(212, 212, 212, 0.3);
    padding: 15px;
    padding-bottom: 25px;
    border-radius: 0px 0px 2px 2px;
}

