.footer {
    width: 100%;
    height: 210px;
    color: #d3dadf;
    text-align: center;
    margin-bottom: 10px;
    padding-right: 120px;
 }

 .fixed-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
 }

 .ether-logo {
    height: 110px;
    margin-left: 50px;
 }

 .logo-container {
    display: flex;
 }

 .footer-text {
    display: block;
    text-align: left;
    margin-left: 110px;
    color: #7f7f80;
    font-size: 8pt;
 }

 .fotter-text-mobile {
    display: none;
 }

 .no-style {
    text-decoration: none;
    color: inherit;
}


 @media only screen and (max-width: 780px)
   {  
    .footer-text { 
        text-align: left;
        margin-left: 5px;
        margin-bottom: 5px;
        display: none;}
    
    .fotter-text-mobile {
        display: inline-block;
        text-align: left;
        margin-left: 15px;
        color: #7f7f80;
        font-size: 8pt;
        float: left;
        margin-top: 10px;
    }
        
    .ether-logo {
        height: 80px;
        margin-left: 5px;
     }
     .footer { 
         height: 120px;
         padding-right: 0px;
     }

     .footer-social {
        float: right;
        width: 100%;
    }




 }
