.out-of-screen {
    position: absolute;
    left: -5000px;
}

.signup-box{
   margin-top: 50px;
   animation-delay: 0.6s;
   
}

.email {
    outline: none;
    background: rgba(0,0,0,0.6);
    border: none;
    border-bottom: solid 1px #56a2fd;
    border-radius: 5px 5px 5px 5px;
    height: 60px;
    width: 500px;
    font-size: 18pt;
    color: #d3dadf;
    padding-left: 10px;
}
.outer-wrapper {
    display: table;
    margin: auto;
}


.email-wrapper {
    display: table-cell;
    vertical-align: middle;

}

.oldbutton-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.button-wrapper {
    display: table-cell;
    vertical-align: middle;
}


.oldemail-button {
    width: 100px; 
    height: 100px;
    margin-left: 10px; 
    background: url('/img/StartButtonOff.svg');
    background-size: cover;
}

.email-button {
    width: 120px;
    height: 60px;
    margin-left: 5px; 
    font-size: 14pt !important;
    padding: 5px !important;
}


.oldemail-button:hover{
    background: url('/img/StartButtonOn.svg');
    background-size: cover;
}

.sub-title {
    color: #d3dadf;

   
}

.StoryClick {
    color: #aaafb3;
    cursor: pointer;
    
}




@media only screen and (max-width: 780px)
   {  
    .oldemail-button {
            margin-top: 25px;
            width: 64px;
            height: 64px;
    }

    .email {
        width: 100%;
        border-radius: 5px 5px 5px 5px;
    }

    .signup-box{ 
        margin-top: 25px;
    }

    .email-wrapper {
        vertical-align: middle;
    
    }
    
    .oldbutton-wrapper {
        display: block;
        vertical-align: middle;
    }


    .email-button {
        width: 80px;
        height: 60px;
        margin-left: 5px; 
        font-size: 10pt !important;
        padding: 5px !important;
    }
    

}