.out-of-screen {
    position: absolute;
    left: -5000px;
}

.signup-box{
   margin-top: 50px;
   animation-delay: 0.6s;
}


.email {
    outline: none;
    background: rgba(0,0,0,0.6);
    border: none;
    border-bottom: solid 1px #56a2fd;
    border-radius: 5px 5px 5px 5px;
    height: 60px;
    width: 500px;
    font-size: 18pt;
    color: #d3dadf;
    padding-left: 10px;
}
.outer-wrapper {
    display: table;
    margin: auto;
}

.email-button {
    background: none;
    border: none;
    outline: none;
}

.email-wrapper {
    display: table-cell;
    vertical-align: middle;

}

.button-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.email-button {
    width: 100px; 
    height: 100px;
    margin-left: 10px; 
    background: url('/img/StartButtonOff.png');
    background-size: cover;
}


.email-button:hover{
    background: url('/img/StartButtonOn.png');
    background-size: cover;
}

.sub-title {
    color: #56a2fd;
    margin-top: -25px;
    margin-bottom: 25px;
    display: none;
}

.StoryClick {
    color: #aaafb3;
    cursor: pointer;
    
}




@media only screen and (max-width: 780px)
   {  
    .email-button {
            margin-top: 25px;
    }

    .email {
        width: 100%;
        border-radius: 5px 5px 5px 5px;
    }

    .signup-box{ 
        margin-top: 25px;
    }

    .email-wrapper {
        display: block;
        vertical-align: middle;
    
    }
    
    .button-wrapper {
        display: block;
        vertical-align: middle;
    }

    .sub-title {
    display: none;
    }

}