.StoryBackdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:rgba(100,100,100,0.5);
    z-index: 1000;

}

.StoryContent {
    color: azure;
    width: 60%;
    margin: auto;
    margin-top: 15%;

}

.StoryButton {
    margin-top: 35px;
    color: azure;
    cursor: pointer;
}

@media only screen and (max-width: 780px) {
    .StoryContent { max-height: 350px;
    overflow: scroll;
    width: 80%;}
}
