.AboutBackdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:rgba(100,100,100,0.5);
    z-index: 100;

}

.AboutContent {
    color: azure;
    width: 60%;
    margin: auto;
    margin-top: 15%;
}


@media only screen and (max-width: 780px) {
    .AboutContainer {
        height: calc(100% - 150px);
        overflow: scroll;
        overflow-x: hidden;
    }
}
