.App {
  text-align: center;
  font-family: 'Lato';
}

.response {
  display: none;
}

.white {
  color: #d3dadf;
}

.LoadingLogos > img {
  margin-right: 15px;
  margin-top: 25px;
}

.soundButton {
  position: absolute;
  top: 5px;
  left: 15px;
  color: #56a2fd;
  font-size: 16px;
  opacity: 0.8;
  cursor: pointer;
}

.soundOff {
  color: #5d6064;
}

body {
  background: url('/img/background-image.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-color: black;
}

.shakeable {
position: absolute;
top: calc(48% - 5px);
left: calc(40% - -9px);
width: calc(19% - 5px);
opacity: 1;
}

.shake.shake-little:hover {
  animation-name: shake-little;
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}

@keyframes shake-little {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  2% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }
  4% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }
  6% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }
  8% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }
  10% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }
  12% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }
  14% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }
  16% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }
  18% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  20% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  22% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  24% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }
  26% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }
  28% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }
  30% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }
  32% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }
  34% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  36% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }
  38% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  40% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }
  42% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  44% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  46% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }
  48% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  50% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }
  52% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }
  54% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  56% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  58% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  60% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }
  62% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  64% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }
  66% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }
  68% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }
  70% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  72% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }
  74% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }
  76% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }
  78% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }
  80% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }
  82% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }
  84% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  86% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }
  88% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  90% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }
  92% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }
  94% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  96% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  98% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }
}
