nav {
    position: fixed;
    z-index: 1000;
    right: 0;
    margin-right: 5px;
    padding-top: 5px;
    background-color: rgba(2,5,8,0.1);
    width: 100%;
    text-align: right;
}

.nav-item { 
    display: inline-block; 
    margin-right: 10px;
    padding: 5px;
   
} 

.nav-item > a { 
    color: #d3dadf;
    text-decoration: none;
    padding-bottom: 2px;
    
} 


.nav-active {
    border-bottom: solid 1px #56a2fd;
}

.nav-item:hover > a{
    color: #56a2fd;
}

.nav-logo {
    float: left;
    width: 60px;
    margin-left: 10px;
}